body {
    background-color: rgb(1, 6, 14);
    /* Changes the background color to rgb(1, 6, 14) and default text color to white */
    color: rgb(255, 255, 255);
} 

#Resource{
    color: rgb(0, 255, 0); 
}

nav a {
    /* float: left; */
    color:bisque;
    text-align: center;
    text-decoration: none; /* prevents link underline */
    font-size: 25px;
    /* font-family: comic-sans; */
    padding: 14px 20px;
}

nav {
    background-color:darkblue;
    overflow: hidden; 
    /* overflow deals with items that do not fit their size restrictions */
    width: max-content;
    height: min-content;
    margin: auto;
    text-align: center;
    padding: 10px;
    border-radius: 25px;
}

nav a:hover {
    background-color: crimson;
}


