body {
    background-color: rgb(1, 6, 14);
    /* Changes the background color to rgb(1, 6, 14) and default text color to white */
    color: rgb(255, 255, 255);
    font-family: cursive,comic-sans,sans-serif,serif;
} 

#Resource{
    color: rgb(0, 255, 0); 
}

nav a {
    /* float: left; */
    color:black;
    text-align: center;
    text-decoration: none; /* prevents link underline */
    font-size: 25px;
    /* font-family: comic-sans; */
    padding: 14px 20px;
    transition-property: color, background-color;
    transition-duration: 1s;
}

nav {
    background-color:#eadbcb;
    overflow: hidden; 
    /* overflow deals with items that do not fit their size restrictions */
    width: max-content;
    height: min-content;
    margin: auto;
    text-align: center;
    box-shadow: black 1px 10px 10px;
    padding: 10px;
    border-radius: 25px;
    transition-property: width,height,box-shadow,transform;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

table {
    width: 70%;
    text-align: left;
    border-collapse: collapse;
    margin: auto;
}

table, th, td {
    border: 1px solid;
    border-color: white;
}

td, th {
    padding: 20px, 5px;
}




nav a:hover {
    color: blue;
}

nav:hover {
    box-shadow: white 1px 1px 50px;
    transform:scale(105%)
}

#trans:hover{
color: blue;
}

#buttons:hover{
    color: green;
}

.title{
    width: auto;
    height: auto;
    text-align: center;
    color: chartreuse;
}